@font-face {
    font-family: 'nunito_sansregular';
    src: url('../../fonts/NunitoSans/regular/nunitosans-regular-webfont.eot');
    src: url('../../fonts/NunitoSans/regular/nunitosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/NunitoSans/regular/nunitosans-regular-webfont.woff2') format('woff2'),
         url('../../fonts/NunitoSans/regular/nunitosans-regular-webfont.woff') format('woff'),
         url('../../fonts/NunitoSans/regular/nunitosans-regular-webfont.ttf') format('truetype'),
         url('../../fonts/NunitoSans/regular/nunitosans-regular-webfont.svg#nunito_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../../fonts/Roboto/regular/roboto-webfont.eot');
    src: url('../../fonts/Roboto/regular/roboto-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Roboto/regular/roboto-webfont.woff2') format('woff2'),
         url('../../fonts/Roboto/regular/roboto-webfont.woff') format('woff'),
         url('../../fonts/Roboto/regular/roboto-webfont.ttf') format('truetype'),
         url('../../fonts/Roboto/regular/roboto-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'robotobold';
    src: url('../../fonts/Roboto/bolt/roboto-bold-webfont.eot');
    src: url('../../fonts/Roboto/bolt/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Roboto/bolt/roboto-bold-webfont.woff2') format('woff2'),
         url('../../fonts/Roboto/bolt/roboto-bold-webfont.woff') format('woff'),
         url('../../fonts/Roboto/bolt/roboto-bold-webfont.ttf') format('truetype'),
         url('../../fonts/Roboto/bolt/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }

  @font-face {
    font-family: 'montserratthin';
    src: url('montserrat-variablefont_wght-webfont.eot');
    src: url('montserrat-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-variablefont_wght-webfont.woff2') format('woff2'),
         url('montserrat-variablefont_wght-webfont.woff') format('woff'),
         url('montserrat-variablefont_wght-webfont.ttf') format('truetype'),
         url('montserrat-variablefont_wght-webfont.svg#montserratthin') format('svg');
    font-weight: normal;
    font-style: normal;

}
  

  $font-nunitoSans-regulare:"nunito_sansregular";
  $font-roboto-regular: "robotoregular";
  $font-regular-bold:"robotobold";
  $font-montserratt-regulare:"montserratthin";